livelike-description {
    font-size: 20px;
}

.nav-link {
    font-size: 14px;
}

livelike-widget-body {
    background-color: #183f6c !important;
}

livelike-footer {
    background-color: transparent !important;
}

livelike-percentatge {
    font-family: 'PSGFont' !important;
}


td,
th {
    padding-bottom: 10px;
    font-size: 16px;
}

livelike-progress {
    background-color: white !important;
    z-index: 100 !important;
}

#createProfileButton {
    color: white;
    background-color: #CF2E25;
    width: 144px;
    height: 41px;
    border-radius: 0px;
    font-size: 14px;
    font-weight: normal;
}

#createProfileButton:disabled,
#createProfileButton[disabled] {
    color: white;
    background-color: #C8C8C8;
    width: 144px;
    height: 41px;
    border-radius: 0px;
    font-size: 14px;
    font-weight: normal;
}