livelike-description {
    font-size: 20px;
}

.nav-link {
    font-size: 28px;
}

livelike-widget-body {
    background-color: #183f6c !important;
}

livelike-footer {
    background-color: transparent !important;
}