livelike-description {
    font-size: 20px;
}

.nav-link {
    font-size: 28px;
}

livelike-widget-body {
    background-color: #183f6c !important;
}

livelike-footer {
    background-color: transparent !important;
}

livelike-percentatge {
    font-family: 'PSGFont' !important;
}


td, th  {
    padding-bottom: 10px;
    font-size: 16px;
}