/* .slider-input::-webkit-slider-runnable-track {
  height: 8px !important;
  border-radius: 0px !important;
  background: white !important;
  background-image: linear-gradient(90deg,
      #C42982,
      #C42982 var(--x),
      transparent 0) !important;
}

.slider-input::-moz-range-track {
  height: 8px !important;
  border-radius: 0px !important;
  background: white !important;
  background-image: linear-gradient(90deg,
      #C42982,
      #C42982 var(--x),
      transparent 0) !important;
}

.slider-input::-ms-track {
  height: 8px !important;
  border-radius: 0px !important;
  background: white !important;
  background-image: linear-gradient(90deg,
      #C42982,
      #C42982 var(--x),
      transparent 0) !important;
}

livelike-emoji-slider livelike-footer {
  background-color: #183F6C !important;
  font-weight: normal;
  margin: 1rem !important;
}

livelike-footer {
  background-color: #183F6C !important;
  font-weight: normal;
  margin: 1rem !important;
  padding-bottom: 10px !important;
}

livelike-widget-body {
  background-color: #183F6C !important;
} */