@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Romagna-Regular;
  src: url("../images/Romagna-Regular.otf") format("opentype");
}
@font-face {
  font-family: Romagna-Exo;
  src: url("../images/Romagna-ExoBold.otf") format("opentype");
}

@font-face {
  font-family: Romagna-Bold;
  src: url("../images/Romagna-Bold.otf") format("opentype");
}

body {
  background-color: #111720;
  font-family: "Romagna-Regular";
}

h1 {
  color: white;
}

.content {
  margin-right: 0;
  margin-left: 0;
}

.tab-pane {
  height: 94vh;
}

.sticker-wrap {
  width: 50% !important;
  margin: 0 !important;
}

.sticker-body {
  min-height: 30vh !important;
  max-height: 30vh !important;
}

.widgets-timeline {
  height: 90vh;
  overflow-y: scroll;
}

.livelike-load-more-button {
  margin-top: 10px;
}

.widgets-timeline {
  margin-left: 10px;
  margin-right: 10px;
  margin-top:10px
}

livelike-image-number-prediction-follow-up {
  margin: 10px;
  font-family: "Romagna-Regular" !important;
  color: #FFFFFF;
}

livelike-widget-root livelike-widget-header {
  background: #21272E;
  text-align: start;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 29px;
  font-size: 24px;
}

livelike-widget-root livelike-widget-body {
  background-color: #21272E;
}

livelike-text-ask {
  margin: 10px;
  font-family: "Romagna-Regular" !important;
  color: #FFFFFF;
}

.avatar {
  margin: 0px 6px 0px 0px
}
.avatar img, .avatar svg {
  width : 2.5rem !important;
  height: 2.5rem !important;
}

livelike-scroll-down {
  display: none;
}

livelike-chat livelike-message-item {
  display: block;
}
livelike-chat livelike-message-item .image-message {
  width: 60%;
}
livelike-chat livelike-message-item .sender-message span {
  height: 64px !important;
}
livelike-chat livelike-chat-composer {
  background: #21272E;
  border-radius: 5px;
  border: 2px solid white;
}
livelike-chat livelike-chat-composer *::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white !important;
  opacity: 0.4
}
livelike-chat livelike-chat-composer textarea {
  border: none !important;
}
livelike-chat livelike-chat-composer .livelike-chat-input {
  background: #111720;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 12px;
}
livelike-chat livelike-chat-composer .send-icon {
  background-color: #111720 !important;
  background: #111720;
  padding-right: 10px;
}
livelike-chat livelike-message-list {
  height: 100%;
  background: #111720;
  margin-top: 10px;
}
livelike-chat livelike-message-list .message-item-container {
  padding: 5px 0px 0px 18px;
}
livelike-chat livelike-message-list .message-item-container .message-wrapper {
  background-color: #111720;
  padding-top: 0px;
  padding-left: 8px;
  top:-7px
}
livelike-chat livelike-message-list .message-item-container .message-wrapper .mini-reactions {
  left: 21px;
  bottom: 7px;
  top: auto;
}

span.mini-reaction-count {
  color: #111720;
  font-family: "Roboto";
  font-size: 15px;
  line-height: 6px;
  margin-left:6px;
  align-self: center;
}

livelike-chat livelike-message-list .message-item-container .message-wrapper .sender-name {
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: "Romagna-Bold";
}
livelike-chat livelike-message-list .message-item-container .message-wrapper .sender-message {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: white;
  margin-bottom: 12px;
  font-family: "Romagna-Regular";
  padding-bottom: 10px;
}
livelike-chat livelike-message-list .message-item-container .message-wrapper .reaction-button-container .reaction-button {
  left: -10px;
  bottom: 2px;
  background-color: transparent;
  background-image: url(../images/plus-circle.svg);
}

.mini-reaction-image {
  margin: 0px 0 0 4px !important;
}

.hidden {
  display: none;
}

.dot {
  margin-bottom: 7px; 
  margin-left: 3px;
}


.leaderboard-table {
  text-align: left;
  table-layout: auto;
  width: 100%;
}

.leaderboard-table > thead {
  color: #FFFFFF;
}

.profile-container {
  margin-top: 30px;
  color: white;
  padding: 12px
}

.profile-container > button {
  border: 3px solid #FFFFFF !important;
  color: #FFFFFF !important;
}

.form-label {
  font-family: 'Romagna';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 17px;
  color: #FFFFFF;
  opacity: 0.64;
  text-transform: uppercase;
}

.welcome-text {
  text-align: center;
  font-family: 'Romagna-Exo';
  font-style: normal;  
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;  
}

.create-profile-text {
  font-family: 'Romagna-Exo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 169%;
  text-align: center;
  color: #D22E92;
}

.form-control {
  color: white !important;
  background-color: #111720 !important;
}

.profile-input {
  border: 1px solid white !important;
  color: white !important;
  background-color: #111720;
}

livelike-image-number-prediction livelike-option[image] {
      flex-direction: row;
}

livelike-progress,
livelike-percentage{
  visibility: visible !important;
}

tr.list-item {
  color: white;
}
  
.send-icon svg {
  fill : #FFFFFF !important
}

livelike-chat {
  margin: 10px;
}

.small-text {
  font-family: 'Romagna-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.4;
  margin-top: 4px;
  text-align: center;
}