livelike-widget-root {
  background-color: #183F6C;
  border-radius: 10px;
}

livelike-widget-header,
livelike-widget-body {
  background: #183F6C;
}

livelike-title {
  color: #FFFFFF;
  background-color: #183F6C;
  padding: 2px 14px;
  font-size: 21px;
  font-family: "PSGFont";
  line-height: 21px;
}

livelike-image {
  height: 60px;
  width: 60px;
}

livelike-image img {
  height: 58px;
  width: 58px;
  z-index: 0;
  transform: translateX(-1px);
}

livelike-option[selected] {
  background: #183F6C !important;
}

livelike-option {
  border-radius: 5px !important;
  height: 60px;
  margin: 10px;
}

livelike-widget-root {
  margin-bottom: 10px;
}

livelike-description {
  color: #FFFFFF;
  /* margin-top:12px */
}

livelike-percentage {
  color: #FFFFFF;
}

livelike-progress {
  bottom: 14px;
  left: 14px;
  height: 4px;
  border-radius: unset;
  top: unset !important;
  margin-top: unset !important;
  background: #FFFFFF;
}

livelike-progress[image] {
  height: 4px !important;
}


livelike-widget-root livelike-widget-body livelike-select livelike-option {
  background: #183F6C !important;
  background-color: #183F6C !important;
}

livelike-select {
  background-color: #183F6C !important;
}

livelike-option .livelike-voting-image-container {
  background-color: #102946 !important;
  min-height: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

livelike-description {
  font-size: 12px;
  font-family: 'PSGFont';
  padding: 15px 0 0 13px;
}

livelike-option .livelike-voting-image-container .image-description-wrapper {
  font-size: 15px;
  display: flex;
  height: 100%;
  width: calc(80% - 14px);
  position: relative;
  background-color: #102946 !important;
}

livelike-option .livelike-voting-image-container .image-description-wrapper livelike-description {
  padding: 15px 0 0 13px;
  background-color: #102946 !important;
}

livelike-option[image] {
  flex-direction: row-reverse;
  line-height: 15px;
  font-size: 12px;
  padding: 0px;
  background-color: #102946 !important;
}

livelike-option:not([image]) {
  padding: 0 !important;
  background-color: #102946 !important;
}

livelike-option:not([image]) div:first-child {
  height: 100% !important;
  background-color: #102946 !important;
}

livelike-option:not([image]) livelike-percentage {
  align-self: center;
}

livelike-option:not([image]) livelike-description {
  padding: 10px 0 0 14px !important;
  background-color: #102946 !important;
}

livelike-percentage {
  font-family: 'PSGFont';
  font-size: 22px;
  padding: 0 14px 0 0 !important;
  line-height: 20px;
}

/* Correct / Incorrect / Selected*/
livelike-description[selected],
livelike-description[selected][incorrect],
livelike-percentage[selected],
livelike-percentage[selected][incorrect] {
  color: #FFFFFF;
}

livelike-percentage[correct] {
  color: #00fa64;
}

livelike-option[selected] {
  border-color: #CF2E25;
}

livelike-option[selected][correct] {
  border-color: #00fa64;
}

livelike-description[correct] {
  color: #00fa64;
}

livelike-option[selected][incorrect] {
  border-color: #FFFFFF;
}

livelike-progress[selected],
livelike-progress[selected][incorrect] {
  background: #FFFFFF;
}

livelike-progress[correct] {
  background: #00fa64;
}

livelike-option[correct] {
  border-color: #00fa64;
}

/*  Vote Button Footer */

livelike-footer {
  background-color: #21272E !important;
  margin: 0 0 6px 14px;
}

livelike-alert livelike-footer {
  background-color: #3F454C !important;
  margin: 0 0 6px 14px;
}

.widget-link:after {
  top: 8px
}

.vote-button {
  background: #CF2E25 !important;
  border: unset !important;
  border-radius: 0px !important;
  color: #FFFFFF !important;
  margin: 0 !important;
  padding: 3px 30px !important;
  font-family: "PSGFont";
  font-style: normal;
  font-size: 14px;
}

.vote-button[disabled] {
  background: #7E7E7E !important;
  border-radius: 0px !important;
  border: unset !important;
  color: #FFFFFF !important;
}

.voted-text {
  font-family: "PSGFont" !important;
  font-style: normal;
  font-size: 16px;
  line-height: 14px;
  color: #FFFFFF;
  padding-left: 10px;
}

.predict-button {
  background: #CF2E25 !important;
  border: unset !important;
  color: #FFFFFF !important;
  margin: 0 !important;
  padding: 3px 30px !important;
  font-family: "PSGFont";
  font-style: normal;
  font-size: 14px;
}

.predict-button[disabled] {
  background: #7E7E7E;
  border: unset !important;
  color: #FFFFFF !important;
}


/* Progress Spacing */

livelike-option:not([image]) div:first-child {
  width: 80% !important;
}

livelike-percentage {
  transform: translateX(20%);
}

livelike-option:not([image]) div:first-child livelike-percentage {
  left: 25%;
}

.widget-caption {
  color: #FFFFFF
}

.leaderboard-container {
  padding: 12px;
}

.widget-link {
  background-color: unset !important;
  padding: unset;
  color: white
}

.widget-link:after {
  top: 7px
}